<div class="container">
 <div class="row">
    <div class="col-6 editor-wrapper">
        <div class="editor-wrapper__query">
            <query-editor #queryEditor [schema]="$schema | async" (queryEditorChanged)="onEditorChange($event)" (prettyQuery)="onPrettyQuery()"></query-editor>
            
        </div>
        <button class="btn btn-primary" [class.disabled]="!validQuery"  [disabled]="!validQuery" (click)="exCuteQuery()"> Excute</button>
        <!-- <div class="editor-wrapper__variable">
            <variable-editor></variable-editor>
        </div> -->
      </div>
      <div class="col-6 query-result-wrapper"  style="background-color: white;">
        <ngx-json-viewer [json]="queryResult" [expanded]="true" *ngIf="queryResult"></ngx-json-viewer>
      </div>
      <!-- <div class="col-4 doc-explorer">
          <document-explorer></document-explorer>
      </div> -->
 </div>
</div>
